<!doctype html>
<html lang="zh">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style media="screen">
      .main-title {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    </style>

    <title>ETF</title>
  </head>
  <body>
    <div class="container">
      <h3 class="text text-center main-title">ETF接口测试平台</h3>
      <form action="/handle_get" method="post">
        <div class="form-group">
          {% if resp and resp['url'] %}
          <input type="text" name="url" id="url" placeholder="请输入URL" class="form-control" autofocus value="{{resp['url']}}">
          {% else %}
            <input type="text" name="url" id="url" placeholder="请输入URL" class="form-control" autofocus>
          {% endif %}
        </div>
        <div class="form-group">
          {% if resp and resp['assertion'] %}
            <input type="text" name="assert" id="assert" placeholder="请输入断言，比如obj['key1'] == 'value'" class="form-control" value="{{resp['assertion']}}">
          {% else %}
            <input type="text" name="assert" id="assert" placeholder="请输入断言，比如obj['key1'] == 'value'" class="form-control">
          {% endif %}
        </div>
        <div class="form-group">
          <input type="submit" name="submit" value="确定" class="btn btn-primary">
        </div>
      </form>
      <hr>

      {% if resp['success'] %}
        {% if resp['assertion_success'] is not none %}
          {% if resp['assertion_success'] %}
            <p><strong class="text text-success">断言成功</strong></p>
          {% else %}
            <p><strong class="text text-danger">断言失败</strong></p>
          {% endif %}
          <p><code>{{resp['assertion']}}</code></p>
          <hr>
        {% endif %}
        <p>接口地址: {{resp['url']}}</p>
        <p>状态码: {{resp['status_code']}}</p>
        <hr>
        <p>Headers</p>
        {% for key, value in resp['headers'].items() %}
          <p> <pre><code>{{key}}: {{value}}</code></pre> </p>
        {% endfor %}

        <hr>
        <p>Body</p>
        <pre>
          <code>
            {{resp['text']}}
          </code>
        </pre>
      {% else %}
        <p class="text text-danger">执行失败</p>
        <p class="text text-danger">状态码: {{resp['status_code']}}</p>
        <p class="text text-danger">响应: {{resp['text']}}</p>
      {% endif%}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
